@model IEnumerable<HrAndPayrollSystem.Models.Location>

@{
    ViewBag.Title = "Locations";
}

<section class="content-header">
    <h1>
        Locations
        <small>Below are all of the locations added</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-cog"></i>&nbsp; Basic Setup</li>
        <li class="active">Location</li>
    </ol>
</section>
<br>
<section class="content">

    <p>
        @if ((bool)Session["LcCreate"] == true)
        {
            <a href="@Url.Action("Create")"><i class="fa fa-pencil">&nbsp;Create new</i></a>
        }
        else
        {
            <i class="fa fa-pencil-square text-muted"></i>
        }
    </p>
<br>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PvCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PvCode)
                </td>
                <td>
                    @if ((bool)Session["LcEdit"] == true)
                    {
                        <a href="@Url.Action("Edit", new { SystemCode = item.SystemCode, Code = item.Code })" class="fa fa-edit"></a>
                    }
                    else
                    {
                        <i class="fa fa-edit text-muted"></i>
                    }
                    |
                    @if ((bool)Session["LcDetail"] == true)
                    {
                        <a href="@Url.Action("Details", new { SystemCode = item.SystemCode, Code = item.Code })" class="fa fa-align-left"></a>
                    }
                    else
                    {
                        <i class="fa fa-align-left text-muted"></i>
                    }
                    |
                    @if ((bool)Session["LcDelete"] == true)
                    {
                        <a href="@Url.Action("Delete", new { SystemCode = item.SystemCode, Code = item.Code })" class="fa fa-trash"></a>
                    }
                    else
                    {
                        <i class="fa fa-trash text-muted"></i>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>